<!DOCTYPE html>
<html lang="en, ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC 구조 만들기 - 2</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" integrity="sha384-NAifrtbJwcoqjYqhfos40lsRt+O6K5TClF4FjW02ZswKdcD2H3gZN3KA1I3ZxYEM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        .d-none {
            display: none;
        }
    </style>
    <script>

        // update 시 내용 변경을 위해 사용할 수 있게 전역 변수로 설정
        let update_tr;

        function register() {
            const form = document.getElementById('form_register');
            let data = {
                name: form.name.value,
                comment: form.comment.value
            };
            axios({
                method: 'post',
                url: '/visitor/register',
                data: data
            })
            .then((response) => {
                // $('table').append(`
                $('#mainTable').append(`
                <tr>
                    <td>${response.data}</td>
                    <td>${data.name}</td>
                    <td>${data.comment}</td>
                    <td><button type="button">수정</button></td>
                    <td><button type="button" onclick="delete_visitor('${response.data}', this)">삭제</button></td>
                </tr>
                `)
            });
        }

        function delete_visitor(delete_id, element) {
            axios({
                method: 'delete',
                url: '/visitor/delete',
                data: {
                    id : delete_id
                }
            })
            .then((response) => {
                if(response.data) {
                    alert('ID : ' + delete_id + '가 삭제되었습니다.');
                    element.parentElement.parentElement.remove();
                } else {
                    alert('알 수 없는 오류가 발생하였습니다. 새로 고침 후 다시 시도해주세요.');
                }
            });
        }

        function update_load(id, element) {
            axios({
                method: 'get',
                url: '/visitor/get_visitor',
                params: {
                    id: id
                }
            })
            .then((response) => {
                const form = document.getElementById('form_register');
                // update 문을 위해 input hidden을 숨겨서 id 값을 저장해 놓는다.
                form.id.value = response.data.id;
                form.name.value = response.data.name;
                form.comment.value = response.data.comment;
                $('.update-btn').removeClass('d-none');
                $('.register-btn').addClass('d-none');

                // 표에서 수정 버튼 클릭시 변수에 tr 의 index 값을 저장한다고 생각하면 됨
                update_tr = element.parentElement.parentElement;
            });
        }

        function update_visitor() {
            const form = document.getElementById('form_register');
            axios({
                method: 'patch',
                url: '/visitor/update',
                data: {
                    id: form.id.value,
                    name: form.name.value,
                    comment: form.comment.value
                }
            })
            .then((response) => {
                update_tr.children[1].innerText = form.name.value;
                update_tr.children[2].innerText = form.comment.value;

                form.id.value = '';
                form.name.value = '';
                form.comment.value = '';
                $('.update-btn').addClass('d-none');
                $('.register-btn').removeClass('d-none');
            });
        }

        function update_cancel() {
            const form = document.getElementById('form_register');
            $('.update-btn').addClass('d-none');
            $('.register-btn').removeClass('d-none');
            form.id.value = '';
            form.name.value = '';
            form.comment.value = '';
        }
    </script>
</head>
<body>
    <div>
        <form id="form_register">
        <fieldset>
            <legend>방명록 등록</legend>
            <input type="hidden" name="id">
            이름 : <input type="text" placeholder="사용자 이름" name="name"><br>
            방명록 : <input type="text" placeholder="방명록" name="comment"><br>
            <!-- 아래 표에서 수정 버튼 누르면 생기는 버튼 2개 -->
            <div class="update-btn d-none">
                <button type="button" onclick="update_visitor()">수정</button>
                <button type="button" onclick="update_cancel()">취소</button>
            </div>
            <div class="register-btn">
                <button type="button" onclick="register();">등록</button>
            </div>
            </fieldset>
        </form>
    </div>
    <div>
        <table id='mainTable' cellspacing="0" cellpadding="10" style="margin-top: 30px;">
            <tr>
                <th>ID</th>
                <th>작성자</th>
                <th>방명록</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <% for(let i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].comment %></td>
                    <td><button type="button" onclick="update_load('<%= data[i].id %>', this)">수정</button></td>
                    <td><button type="button" onclick="delete_visitor('<%= data[i].id %>', this)">삭제</button></td>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>